<% provide(:title, "Blogs | What We Do") %>
<% provide(:body_class, "about-us-page") %>
<!--Learn More About Us Section-->
<section class="learn-more-about-us-section">
    <div class="container-fluid no-padding">
        <div class="banner-container sf">
            <div class="container">
                <div class="row">
                    <h1 class="title-container col-xs-12 col-sm-12 col-lg-12">
                        <div class="city-name">Blogs</div>
                        <div class="qoute-container col-xs-12 col-sm-12 col-lg-12">Learn More About US</div>
                    </h1>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Learn More-->

<!--About-us-info section-->
<section class="info-about-us-section">
    <div class="container">
        <div class="row">
            <div class="logo-container col-md-12"><span class="site-name sf">Top</span><span class="city-name">Blog</span></div>
            <div class="col-md-12 info-text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Sed ut perspiciatis unde omnis iste natus.</div>
        </div>
        <div class="col-md-12 next-button-container">
            <a class="next-button" ></a>
        </div>
    </div>
</section>
<!--End of About Us info section-->

<!--Team info section-->
<section class="team-info-container" id="team-info-container">
    <div class="container">
        <div class="row">
            <div class="members-list col-xs-12 col-md-12">

                <!--Member-->
                <% @blogs.each do |blog| %>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 no-padding team-member">
                   <%= image_tag "/uploads/" + blog.pic , class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                    <div class="info-container">
                        <div class="name-container"><%= blog.title %></div>
                        <div class="separator"></div>
                        <div class="role-container"><%= blog.tags %></div>
                    </div>
                    <div class="scroll-up-container">

                        <div class="name-container">ELISE JOHNSON</div>
                        <div class="separator"></div>
                        <div class="role-container">Founder</div>
                        <div class="text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </div>
                        <div class="social-container">
                            <ul class="social-list">
                                <li class="mail"><a href="#"></a></li>
                                <li class="instagram"><a href="#"></a></li>
                                <li class="facebook"><a href="#"></a></li>
                                <li class="twitter"><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <% end %>
                
            </div>
        </div>
    </div>
</section>
<!--End of Team info section-->

<!--Our partners section-->
<section class="our-partners-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title-container"><div>our partners</div></div>
            <ul class="partners-list">
                <li><%= image_tag 'icons-partner-1.png' %></li>
                <li><%= image_tag 'icons-partner-2.png' %></li>
                <li><%= image_tag 'icons-partner-3.png' %></li>
                <li><%= image_tag 'icons-partner-4.png' %></li>
                <li><%= image_tag 'icons-partner-5.png' %></li>
                <li><%= image_tag 'icons-partner-6.png' %></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 become-partner-container">
                <div class="text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                </div>
                <div class="button-container">
                    <a href="#">BECOME A PARTNER <span class="arrow">&#8594</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end of our partners section-->
<p id="notice"><%= notice %></p>

<!-- <h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Des</th>
      <th>Pic</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.des %></td>
        <td><%= image_tag "/uploads/" + blog.pic , class: 'img-responsive', alt: 'brunch places in San Francisco' %></td>
        <td><%= blog.tags %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
 -->