<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Des:</strong>
  <%= @blog.des %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @blog.pic %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog.tags %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
