<% provide(:title, "Grow") %>
<% provide(:body_class, "about-us-page") %>

<!--Our partners section-->
<section class="our-partners-section">
    <div class="container">    	
        <div class="row">
            <div class="col-md-12 title-container"><div>our partners</div></div>
            <ul class="partners-list">
                <li><%= image_tag 'icons-partner-1.png' %></li>
                <li><%= image_tag 'icons-partner-2.png' %></li>
                <li><%= image_tag 'icons-partner-3.png' %></li>
                <li><%= image_tag 'icons-partner-4.png' %></li>
                <li><%= image_tag 'icons-partner-5.png' %></li>
                <li><%= image_tag 'icons-partner-6.png' %></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 become-partner-container">
                <div class="text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                </div>
                <div class="button-container">
                    <a href="#">BECOME A PARTNER <span class="arrow">&#8594</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end of our partners section-->