<% provide(:title, "Grapedia") %>
<% provide(:body_class, " ") %>
 <!--Start Search Section-->
  <section class="search-section">
    <div class="container-fluid background-image san-franc">
      <div class="container">
        <div class="row">
          <div class="col-centered quoute-container col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <h1>Grapedia</h1>
          </div>
        </div>
        <div class="row">
          <div class="heading-container col-centered col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <span class="wow pulse" style="visibility: visible; animation-iteration-count: 3; animation-name: pulse;" data-wow-duration="0.15">Search our grape and wine list</span>
          </div>
        </div>
        <div class="row">
          <div class="search-field-container col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <%= form_for(:search_form, url:search_path, :method => 'get') do |f| %>
            <div class="search-wrapper">
              <span class="search_icon"></span>
              <%= text_field_tag :search, '', placeholder: "Search by name", class:"search_field_input" %>
              <select name="search_select" id="search_select">
                <option>Wine</option>
                <option>Grape</option>
              </select>
              <%= f.submit 'Search', class: "search_button sf" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid city-explore-container">
      <div class="container">
        <div class="row">
          <div class="ready-to-explore-container">
            <div class="text-container col-centered col-md-8 col-xs-12 col-lg-8 col-sm-12">
              <div class="question-container">Ready to Explore the Grape?</div>
              <div class="guide-container">Download Our Best of Wind Guide</div>
              <div class="link-container"><a class="sf" href="#"></a></div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </section> 
    
  <!--Places Section-->
  <section class="places-section">
    <div class="container">
      <div class="row">
        <!--Large Place Container-->
        <div class="main-place-container col-md-6 col-lg-6 col-sm-12 col-xs-12 wow bounceInLeft" style="visibility: visible; animation-name: bounceInLeft;animation-delay: 0.5s;">
          <div class="place-content-container">
            <%= link_to '', grape_week_path, class: 'place-link' %>
            <%= image_tag 'original_grow-your-own-grape-vine.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
            <div class="info-container">
              <div class="category-container">Grapes</div>
              <div class="title-container"><strong>Grape of the week</strong></div>
            </div>
          </div>
        </div>
        <!--End Large Place Container-->

        <!--Small places container-->
        <div class="small-places-container col-md-6 col-lg-6 col-sm-12 col-xs-12" >
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item wow flipInX center" style="visibility: visible; animation-name: flipInX; animation-delay: 0.9s;">
              <div class="place-content-container">
                <%= link_to '', grow_path, class: 'place-link' %>
                <%= image_tag 'Albarola_new.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="title-container"><strong>Help us growing</strong></div>
                  <div class="social-container">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item wow bounceInRight" style="visibility: visible; animation-name: bounceInRight; animation-delay: 1.3s;">
              <div class="place-content-container">
                <%= link_to '', wine_week_path, class: 'place-link' %>
                <%= image_tag 'image-places-parks.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="title-container"><strong>Wine of the week</strong> </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item wow bounceInUp center" style="visibility: visible; animation-delay: 1.7s; animation-name: bounceInUp; ">
              <div class="place-content-container">
                <%= link_to '', about_path, class: 'place-link' %>
                <%= image_tag 'image-places-travel.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="title-container"><strong>About Us</strong> </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item wow bounceInUp center" style="visibility: visible; animation-delay: 2.1s; animation-name: bounceInUp; ">
              <div class="place-content-container">
                <%= link_to '', blogs_path, class: 'place-link' %>
                <%= image_tag 'image-places-brewery.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="title-container"><strong>Blogs</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
  <!--We make easy section-->
<section class="we-make-easy-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-container">Introduction to our </div>
      <div class="col-md-12 title-city-container">Grape Guide</div>
      <div class="separator-сontainer col-md-12">
        <div class="separator sf col-centered"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 wow bounceInLeft" style="visibility: visible; animation-name: bounceInLeft; animation-delay: 0.6s;" data-wow-duration="0.45">
        <div class="text-info-container">
          We have started filling our grape guide with Italian grapes, our friends at Italyabroad.com are helping us. Only Italy grows more than 1000 grapes and I will take us some time before we can list all of them and then move to the next country, so please be patient
For each grape you will find information on where the grape is grown, its history and characteristics and pairing suggestions and for each grape you will also find wines from different suppliers made with the grape. At the bottom of the page you will also see a comment form and please feel free to get in touch if you think we have forgotten something.

        </div>
      </div>
      <div class="col-md-6 wow bounceInRight" style="visibility: visible; animation-name: bounceInRight; animation-delay: 0.9s;" data-wow-duration="1.15">
        <div class="advantages-container">
          <ul class="advantages-list sf">
            <li class="advantages-item">
                <span class="text-container">
                  <div class="icon-database"></div> <div>We started as a grape guide but then, thanks to your comments and feedbacks, we decided to add a wine library</div> </span>
            </li>
            <li class="advantages-item">
                <span class="text-container">
                  <div class="icon-certificate"></div> <div>With regard to Italian wines, the first thing to say is the wine classifications </div> </span>
            </li>
            <li class="advantages-item">
                <span class="text-container">
                  <div class="icon-map"></div> <div>Wine are classified into DOCG, DOC, IGT and table wine. DOCG ......, DOC....., IGT....... and table wine........ </div> </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--End we make it easy section-->

  <!--Feature Section-->
<section class="feature-section">
  <div class="container-fluid img-wrapper">
    <div class="image-container">
      <div class="info-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="category-container">Grapedia</div>
            </div>
            <div class="col-md-12">
              <div class="title-container">Best Grape& Wines</div>
            </div>
            <div class="col-md-7 wow pulse" data-wow-duration="0.25s" style="visibility: visible; animation-duration: 0.25s; animation-iteration-count: 5; animation-name: pulse;">
              <div class="text-container">Ever wonder how wine is made? Or why some bottles of wine are more expensive than others? Here's some information for you to better understand wine and what makes its cost
              </div>
            </div>
            <div class="col-md-7">
              <div class="button-container">
                <div class="read-more-container">
                  <a href="#">READ MORE</a>
                </div>
                <div class="social-container">
                  <ul class="social-list">
                    <li class="share-button"><a href="#"></a></li>
                    <li class="like-button"><a href="#"></a></li>
                    <li class="chat-container"><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--End of Feature Section-->

<!--Learn More Section  -->
<section class="learn-more-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-container">
          Cheap vs. Expensive
        </div>
      </div>
      <div class="col-md-12">
        <div class="quote-container">
          Grape and wine
        </div>
      </div>
      <div class="separator-сontainer col-md-12">
        <div class="separator sf col-centered"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="text-container wow pulse" data-wow-duration="0.25s" data-wow-iteration="5" style="visibility: visible; animation-duration: 0.25s; animation-iteration-count: 5; animation-name: pulse;">
          <strong>So</strong> why are some wines cheap, and others are more expensive? Cheap wines are stock-picked from the vineyards and processed by machinery. The grapes are often damaged or require large amounts of pesticides to help keep rot and decay at bay. Many preservatives are added, lowering sanitation standards and decreasing production costs. When you purchase a cheap bottle of wine, you are paying for pesticides, preservatives, and low quality grapes. 
        </div>
      </div>
      <div class="col-md-7">
        <div class="progress-container">
          <ul class="progress-list">
            <li class="progress-item wow lightSpeedIn" style="visibility: visible; animation-delay: 0.5s; animation-name: lightSpeedIn;">
              <div class="icon-expert sf"></div>
              <div class="progress-name-container">EXPERT OPINIONS</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar sf" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:45%">
                  30%
                </div>
              </div>
            </li>
            <li class="progress-item wow lightSpeedIn" style="visibility: visible; animation-delay: 0.8s; animation-name: lightSpeedIn;">
              <div class="icon-awards sf"></div>
              <div class="progress-name-container">PREVIOUS ACCOLADES</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar sf" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  20%
                </div>
              </div>
            </li>
            <li class="progress-item wow lightSpeedIn" style="visibility: visible; animation-delay: 1.1s; animation-name: lightSpeedIn;">
              <div class="icon-phone sf"></div>
              <div class="progress-name-container">OTHER DATA & STATS</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar sf" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                  50%
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Learn More Section-->
  <!--Media section-->
<!--End of Media section-->
<!--City Guide Section-->

  <!--End of city guide -->
