<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grape.name %>
</p>

<p>
  <strong>Short des:</strong>
  <%= @grape.short_des %>
</p>

<p>
  <strong>Logn des:</strong>
  <%= @grape.logn_des %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @grape.pic %>
</p>

<p>
  <strong>Regions:</strong>
  <%= @grape.regions %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @grape.publish %>
</p>

<%= link_to 'Edit', edit_grape_path(@grape) %> |
<%= link_to 'Back', grapes_path %>
