<% provide(:body_class, "ranking-page") %>
<!--Start of Banner section-->
<section class="main-banner-section">
    <div class="container-fluid no-padding">
        <div class="banner-container banner-container-week">
            <div class="container">
                <div class="row">
                    <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                        <span class="separator">Grape of the week |</span>
                        <span class="date-container "> <%= DateTime.now.strftime "%B %Y" %></span>
                    </div>
                    <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Grape</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Banner section-->

<!--Start of places list section-->
<section class="places-list-section">
    <% @grapes.each_with_index do |grape, index| %>
    <div class="social-modal">
        <div class="container">
          <h1>Share</h1>
          <%= social_share_button_tag(grape.name, :image => asset_path("images-places-#{index+1}.png")) %>
          <span class="glyphicon glyphicon-remove-circle"></span>
      </div>                          
  </div>
  <!--Start of place cont-->
  <div class="container-fluid no-padding">
    <div class="place-container container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                  <img src="uploads/<%= grape.pic%>" class="img-responsive">
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                <div class="header-section">
                    <div class="number-container"><%= index+1 %></div>
                    <div class="separator"></div>
                    <div class="name-container">
                        <div class="title-container"><strong><%= set_title grape.name %><strong></div>
                        </div>
                    </div>
                    <div class="image-for-mobile hidden-lg hidden-md">
                        <%= image_tag "public/uploads/Aglianico_del_Vulture_new.jpg", class: 'img-responsive' %>
                    </div>
                    <div class="main-text-container">
                        <p>
                          <%= grape.short_des %>
                      </p>
                  </div>
                  <div class="grape-long-description">
                    <p>
                        <%= grape.long_des %>
                    </p>
                </div>
                <div class="grape-region">
                   <strong class="text-info" >Regions:</strong><span style="margin-left: 14px">
                    <% unless grape.regions == nil %>
                    <% grape.regions.split(',').each do |element| %>
                    <a href="#">
                      <span class="regions-element "><%=  element %></span>
                      <% end %>
                  </span>
              </a>
              <% end %>
          </div>
          <div class="wine-supplyer">
           <strong class="text-info">Supplyer:</strong>
           <span style="margin-left: 14px">
            <% unless grape.supply == nil %>
            <% grape.supply.split(',').each_with_index do |element,index| %>
            <a href="<%= grape.supply_url.split(',').fetch(index) %>">
                <span class="regions-element"><%=  element %></span>
                <% end %>
            </span>
        </a>
        <% end %>
    </span>
</div>   
</div>
</div>
</div>
</div>
</div>
<!--end of place container-->                          
<% end %>    
</section>
<!--End of places list section-->
<!--google map section-->
<!-- <p id="notice"><%= notice %></p>

<h1>grapes</h1>

