<section class="wine-section">
  <div class="banner-container">
    <div class="container">
      <div class="wines">
        <h1 class="text-center">Wine of the week</h1>
      </div>    
    </div>
  </div>
</section>
<section class="wines-list-section">
 <% @wines.each do |wine| %>
  <div class="social-modal">
    <div class="container">
      <h1>Share</h1>
      <span class="glyphicon glyphicon-remove-circle"></span>
    </div>                          
  </div>
    <!--Start of place cont-->
    <div class="container-fluid no-padding">
        <div class="place-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                      <%= image_tag wine.pic, class: 'img-responsive' %> <%= wine.pic %>                     
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                        <div class="header-section">
                            <div class="number-container"></div>
                            <div class="separator"></div>
                            <div class="name-container">
                                <div class="title-container"><h3><%= wine.name %><h3></div>
                                <div class="city-container"><span class="location-icon"></span><%= wine.date %></div>
                            </div>
                            <div class="social-container">
                                <div class="share-container">
                                    <div class="share-button">
                                        
                                    </div>

                                </div>
                                <div class="like-container">
                                    <div class="like-button">
                                            <span class="text hidden-xs hidden-sm">Like</span>
                                            <span class="like-icon"></span>
                                            <span class="separator "></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-for-mobile hidden-lg hidden-md">
                        </div>
                        <div class="main-text-container">
                            <p>
                              <%= wine.content %>
                            </p>
                        </div>
                        <div class="buttons-container">
                            <div class="learn-more-button"><a href="#">Read more</a></div>
                            <div class="go-to-website-button"><a href="#">GO TO WEBSITE</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of place container-->                          
<% end %>    
</section>
