<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Short des:</strong>
  <%= @wine.short_des %>
</p>

<p>
  <strong>Long des:</strong>
  <%= @wine.long_des %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @wine.pic %>
</p>

<p>
  <strong>Regions:</strong>
  <%= @wine.regions %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @wine.wine %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @wine.publish %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
